.footer{
	height: auto;
	background: #111;
}

.footer h6{
	display: block;
	text-align: right;
	color: #fff;
	font-family: ik;
}

.footer_about p{
	display: block;
	text-align: right;
	font: 13px ik;
	color: #686868;
}

.footer_social_medias > div{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* height: 80px; */
}

.footer_social_medias > div svg{
    margin: 0 5px;
    font-size: 15px;
    color:#fff;
}

.footer_logo h2{
    font:22px ik
}

.footer_logo {
    text-align: center;    
}

.footer_logo img{

    margin: 0 10px 10px 10px;
}

.footer_list_items h6{
    text-align: center;
}
.footer_list_items ul li a {
    display: block;
    text-align: center;
    font:13px ik;
    color:#999;
    margin-top: 20px;
}

.footer_data{
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}
.footer_bottom_data p {
    font:14px ik;
    color:#fff;
}

.footer_bottom_data{
    padding-bottom: 20px;
}
.footer_bottom_data img{
    float: right;
}