body {
    padding   : 0;
    margin    : 0;
    overflow-x: hidden;
    direction : ltr;
}

ul {
    padding   : 0;
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: ik;
    src        : url(../public/fonts/ttf/iranyekanweblightfanum.ttf) format("truetype");
}

.ik {
    font-family: ik;
}



@font-face {
    font-family: ikb;
    src        : url(../public/fonts/ttf/iranyekanwebboldfanum.ttf) format("truetype");
}

.ikb {
    font-family: ikb;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.react-tabs__tab-list {
    display        : flex;
    justify-content: center;
    border         : none!important;
}

.react-tabs__tab {
    border: none!important;
    font-family: ik;
}
.react-tabs__tab svg{
    margin-left:5px;
    font-size:20px;
}

.react-tabs__tab--selected{
    border: none!important;
    background-color: rgb(23, 148, 206)!important;
    color: #fff!important;
    }

.star-container{
    padding: 0!important;
}
.star-container svg{
    width: 20px!important;
    height: 20px!important;
}

.star-ratings{
    float: right;
}

.gallery img{
    object-fit: cover;

}


.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    font-family: ik;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }


  .empty-list{
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    flex-direction: column;
    }

  .empty-list img{
      filter: grayscale(100%);
    opacity: .5;
      width: 150px;
  }

  .empty-list h3{
      font:15px ikb;
      color: #ccc;
        margin-top: 10px;
  }